/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
    overflow-y: scroll;
    background: #f5f5f5;
}

.wrapper{
    max-width: 960px;
    margin: 0px auto;
}

header{
    background: #333;
    color: white;
}

header a{
    color: white;
    text-decoration: none;
}

.menu{
    padding: 0 1.5em 1.5em 3.333em;
    margin: 1.5em 1.5em 2.5em 0;
    text-align: right;
}

.menu a{
    font-size: 1em;
    padding-right: 16px;
}

.menu a:last-child{
    padding-right: 0px;
}

.main-menu{
    padding-bottom: 12px;
}

.main-menu a{
    font-size: 14px;
    padding: 5px 14px 12px 14px;
    border-radius: 5px 5px 0 0;
}

.main-menu a.current{
 background: #ffc20e;
 color: black;
}

.sub-menu{
    background: #ffc20e;
    color: black;
}

.sub-menu a{
    padding: 7px 14px;
    color: black;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
}

.sub-menu a.active{
    background: #333;
    color: white;
}

.sub-menu-container{
    padding: 15px 0px;
}

header h2{
    font-weight: normal;
    font-weight: 1.4em;
}

h2.page-heading{
    font-size: 1.5em;
    font-weight: 500;
}


h2.page-heading span{
    font-size: 0.6em;
    color: #999;
}

.search-box{
    text-align: right;
    margin-top: 9px;
}

.title-area{
    border-bottom: 1px dotted #ccc;
}

.select1{
    width: 160px;
}

.select2{
    width: 140px;
}

.select3{
    width: 70px;
}

.filter-container{
    margin: 20px 0px 30px 0px;
}

.checkbox-container{
    text-align: right;
    padding-top: 3px;
}

div.right{
    float: right;
    text-align: right;
}

.smooth-button.button-left {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-border-top-left-radius: 0.9em;
-webkit-border-bottom-left-radius: 0.9em;
-moz-border-radius-topleft: 0.9em;
-moz-border-radius-bottomleft: 0.9em;
border-top-left-radius: 0.9em;
border-bottom-left-radius: 0.9em;
margin: 0;
font-size: 0.6em;
}

.smooth-button.button-right {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-border-top-right-radius: 0.9em;
-webkit-border-bottom-right-radius: 0.9em;
-moz-border-radius-topright: 0.9em;
-moz-border-radius-bottomright: 0.9em;
border-top-right-radius: 0.9em;
border-bottom-right-radius: 0.9em;
margin: 0;
font-size: 0.6em;
}

.smooth-button {
border: none;
background: none;
margin: 2px 6px 0 0;
padding: 0;
text-decoration: none;
color: black;
font-weight: normal;
cursor: pointer;
display: inline-block;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
font-size: 1em;
line-height: 1.5em;
padding: 0.3em 0.95em;
border: none;
-webkit-border-radius: 0.5em;
-moz-border-radius: 0.5em;
border-radius: 0.5em;
color: #FFF;
text-shadow: #666 -1px -1px 0px;
background: #999;
background-image: -moz-linear-gradient(top, #AAA, #777);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #AAA),color-stop(1, #777));
/* filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#BBBBBB', EndColorStr='#888888'); */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#BBBBBB', EndColorStr='#888888')";
-webkit-box-shadow: 0px 1px 2px #222;
-moz-box-shadow: 0px 1px 2px #222;
box-shadow: 0px 1px 2px #222;
vertical-align: middle;
}

.ticket-top{
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    padding-top: 10px;

}

.ticket-bottom{
    background: #F3F8FB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 10px #ccc;
}


.ticket-container{
    margin-top: 20px;
}

div.checkbox-contain{
    margin-top: 22px;
    padding: 25px 0;
    text-align: center;
    background: #f5f5f5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0px;
    width: 40px;
    box-shadow: 0px 0px 10px #ccc;
}

.action-check{
    vertical-align: middle;
}

.ticket-id{
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
}

.ticket-status{
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    background: #0066CC;
    color: white;
    margin-bottom: 17px;
}

.ticket-subject{
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 8px;
}

.ticket-subject a{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

}

.ticket-excerpt{
    color: #666;
    padding-left: 8px
}

.ticket-excerpt p{
    width: 96%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
}

.last-updated-label{
    color: #AAA;
    text-transform: lowercase;
    padding-top: 5px;
}

.last-updated-time{
    color: #444;
    font-size: 12px;
}

.action-icons img{
    padding: 5px 4px;
    border-right: 1px solid #ccc;
}

.label{
    font-size: 11px;
    color: #AAA;
    text-transform: lowercase;
}

.value{
    color: #888;
}

.action{
    border-right: 1px solid #ccc;
    margin-right: 9px;
}

.red-dot{
    margin-top: 6px;
    margin-left: -2px;
}

footer{
    border-top: 8px solid #ffc20e;
}

.copyright{
    text-align: right;
    padding: 10px 0;
}

.timeline-heading{
    margin-bottom: -5px;
}

.show{
    margin:0px;
    cursor: pointer;
    padding-bottom: 10px;
}

.show:hover{
    text-decoration: underline;
}

.timeline-container{
    display: none;
}

div .extend{
    height: 48px;
    margin-right: 0px;
}

div .extend.big{
    height: 128px;
}

time{
    display: block;
    font-style: italic;
    margin-top: 10px;
}

em{
    font-style: normal;
    font-weight: 700;
}

/*****Ticket Overview*******/

.bottom-round{
    border-radius: 10px;
}

.svg{
    height: 50px;
    overflow: visible;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
